In [1]:
import numpy as np
import pandas as pd
import json
import requests
import sys
sys.tracebacklimit = 0 # turn off the long tracebacks on error messages
#sys.tracebacklimit = None # use to turn tracebacks back on if needed

In [2]:
data_df = pd.read_csv('train.csv')

In [7]:
data_df[data_df.image == '0ab574f84795ef.jpg']

                   image    species individual_id
2102  0ab574f84795ef.jpg  fin_whale  792e7f1c157e

In [4]:
species = pd.DataFrame(data_df.groupby('species').count())

In [5]:
species.shape

(30, 2)

In [6]:
species

                           image  individual_id
species
beluga                      7443           7443
blue_whale                  4830           4830
bottlenose_dolphin          9664           9664
bottlenose_dolpin           1117           1117
brydes_whale                 154            154
commersons_dolphin            90             90
common_dolphin               347            347
cuviers_beaked_whale         341            341
dusky_dolphin               3139           3139
false_killer_whale          3326           3326
fin_whale                   1324           1324
frasiers_dolphin              14             14
globis                       116            116
gray_whale                  1123           1123
humpback_whale              7392           7392
kiler_whale                  962            962
killer_whale                1493           1493
long_finned_pilot_whale      238            238
melon_headed_whale          1689           1689
minke_whale                 1608           1608
pantropic_spotted_dolphin    145            145
pilot_whale                  262            262
pygmy_killer_whale            76             76
rough_toothed_dolphin         60             60
sei_whale                    428            428
short_finned_pilot_whale     367            367
southern_right_whale         866            866
spinner_dolphin             1700           1700
spotted_dolphin              490            490
white_sided_dolphin          229            229